@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

@font-face {
  font-family: Cherry;
  src: url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap");
}

@font-face {
  font-family: Rubik;
  src: url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
}

@font-face {
  font-family: Bruno;
  src: url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
}

:root {
  /* Theme fonts */
  --Cherry: "Cherry", cursive;
  --Rubik: "Rubik", cursive;
  --Bruno: "Bruno", sans-sarif;

  /* Theme Color */
  --text-green: #219ebc;
  --text-class-day: #e9c46a;
  --text-class-subject: #f4a261;
  --text-class-heading: #e76f51;
  /* hover color */
  --text-class-day-hover: #e9c56a9a;
  --text-class-subject-hover: #f4a361a8;
  --text-class-heading-hover: #f88f75;
}

/*        Global Style         */
* {
  margin: 0;
  padding: 0;
}

/*    X    Global Style     X    */

body {
    height: 100vh;
  background: rgb(38, 70, 83);
  background: linear-gradient(
    90deg,
    rgba(38, 70, 83, 1) 0%,
    rgba(42, 157, 143, 1) 100%
  );
}

/* Heading */

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cherry Bomb One", cursive;
}

.heading a {
  text-decoration: none;
  font-size: 1.8rem;
  margin: 8rem 0 2rem 0;
  cursor: pointer;
  color: var(--text-class-heading);
  text-shadow: 2px 2px black;
}

/* Table Style */
.table {
  display: flex;
  justify-content: center;
  align-items: center;
}

.day,
.subject {
  font-size: 2rem;
  text-align: center;
  padding: 0.2rem;
}

.day {
  background: var(--text-class-day);
  font-family: 'Bruno Ace SC', cursive;
  font-size: 1rem;
}

.subject {
  background: var(--text-class-subject);
  font-family: var(--Rubik);
}

.heading a:hover {
  color: var(--text-class-heading-hover);
}

.day:hover {
  background: var(--text-class-day-hover);
}

.subject:hover {
  background: var(--text-class-subject-hover);
}

@media only screen and (max-width: 750px) {
  .day{
    font-size: 0.8rem;    
  }
  .subject {
    font-size:1rem;
  }

  .table{
    margin: 8rem;
    display: flex;
    justify-content: center;
    max-width: 95vw;
  }
}
